.unordered_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .listed{
    float: left;
  }
  
  .listed a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .listed a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  .shadow{
    padding-top: 0;
    width: 97%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-right: 80px;
  margin-left: 30px ;
  
  }
  .paragraph{
    width: 80%;
    font-weight: 600;
    margin-left: 40px;
  }
  .divlist{
    float: left;
    font-weight: bolder;
    
  }
  .align{
    text-align: start;
  }
  
  .padd{
    padding: 30px;
  }